<h2>Posts:</h2>

 <% @results.each do |post| %>
	<p><%= post['content']%></p><br />
	<p style='font-size: 75%'>Added at: <%= post['date_added']%></p>
	<a href="/post/<%= post['id']%>">Comments</a><hr/>

 <% end %>
